/* ########### HEADER ########### */
.header {
  background: #fff;
  width: 100%;
  height: 5rem;
}
.header .header-nav {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}
.header .header-nav .nav-toggle {
  height: 2rem;
  width: 2rem;
  display: none;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;
}
.header .header-nav .nav-toggle .nav-burger,
.header .header-nav .nav-toggle .nav-close {
  width: max-content;
  height: max-content;
  cursor: pointer;
  position: absolute;
  font-size: 1.5rem;
  color: #1e1e1e;
  transition: opacity 0.1s, transform 0.4s;
}
.header .header-nav .nav-data {
  height: 100%;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .header-nav .nav-data .nav-logo {
  height: 3rem;
}
.header .header-nav .nav-menu {
  height: 100%;
}
.header .header-nav .nav-menu .nav-list {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.header .header-nav .nav-menu .nav-list .nav-list-link {
  width: fit-content;
  padding: 10px;
  font-family: "mont-heavy";
  color: #1e1e1e;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 3px;
  position: relative;
  transition: color 0.2s;
}
.header .header-nav .nav-menu .nav-list .nav-list-link:hover {
  color: #b54141;
}
.header .header-nav .nav-user {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.header .header-nav .nav-user i {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.5rem;
  color: #1e1e1e;
  transition: background 0.3s;
}
.header .header-nav .nav-user i:hover {
  background: #e2a8a8;
}

/* ######### RESPONSIVE ######### */
/* ### MOBILE ### */
@media (max-width: 576px) {
  .header .header-nav {
    padding: 0 20px;
  }
  .header .header-nav .nav-toggle {
    display: flex;
  }
  .header .header-nav .nav-menu {
    padding: 0 10px;
    background: #fff;
    position: absolute;
    top: 0;
    left: -100%;
    opacity: 0;
    height: 100vh;
    width: 100%;
    z-index: 99;
    transition: left 0.3s, opacity 0.1s;
  }
  .header .header-nav .nav-menu .nav-list {
    padding-top: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
  }
  .header .header-nav .nav-user {
    gap: 0px;
  }
}
/* ### DESKTOP ### */
@media (min-width: 577px) and (max-width: 1020px) {
  .header .header-nav .nav-toggle {
    display: flex;
  }
  .header .header-nav .nav-menu {
    padding: 0 40px;
    background: #fff;
    position: absolute;
    top: 0;
    left: -100%;
    opacity: 0;
    height: 100vh;
    width: fit-content;
    z-index: 99;
    transition: left 0.3s, opacity 0.1s;
  }
  .header .header-nav .nav-menu .nav-list {
    padding-top: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
  }
  .header .header-nav .nav-user {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header .header-nav .nav-user i {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1rem;
    color: #1e1e1e;
    transition: background 0.3s;
  }
  .header .header-nav .nav-user i:hover {
    background: #c4e1d5;
  }
}
.show-menu {
  opacity: 1 !important;
  left: 0 !important;
}

.nav-close {
  opacity: 0;
}

.show-icon .nav-burger {
  opacity: 0;
  transform: rotate(90deg);
}

.show-icon .nav-close {
  opacity: 1;
  transform: rotate(90deg);
}
